@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Clara & Colin Web Page</h1>
    <br>
    <img src="https://lh3.googleusercontent.com/pw/AIL4fc8E0Hoy1Zi2ZcKianP44M-L5F5KRtho80BjYZ7DnAsh8O7BikFeiL2aZgoCLwUiGZdXRPDCE4U3C82AWugJXjv3Y8h3_LtMHTHvHJv0fPHom3MCE5Xp-Li5EAsE7tCbzWML-NvkHMVP0BURfwaD1_uYkQ=w524-h931-s-no?authuser=0" />
</div>
